<footer class="bg-secondary text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>About Me</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit justo ac enim fringilla ultricies.</p>
        </div>
        <div class="col-md-3">
          <h5>Contact</h5>
          <p>Email: 92935278+Shembou@users.noreply.github.com</p>
        </div>
        <div class="col-md-3">
          <h5>Follow Me</h5>
          <div class="d-flex">
            <a href="https://github.com/Shembou" class="mr-2"><mat-icon svgIcon="github-icon" class="text-dark"></mat-icon></a>
          </div>
        </div>
      </div>
    </div>
  </footer>