<app-header></app-header>
<div class="container-fluid p-4">
    <mat-card>
        <mat-card-content>
            <div class="row align-items-center border-bottom border-2 border-dark border-opacity-50">
                <div class="col-auto">
                    <mat-card class="p-4 m-4 text-white bg-info rounded-circle">
                        <mat-icon fontIcon="format_list_bulleted"></mat-icon>
                    </mat-card>
                </div>
                <div class="col-auto fs-1 fw-lighter font-monospace">
                    Products
                </div>
                <div class="col">
                    <app-table-filters (sentFilters)="recieveFilters($event)"></app-table-filters>
                </div>
            </div>
            <div *ngIf="products">
            <app-product-table [products]="products" [filters]="filters"></app-product-table>
            <div class="text-end">
                <button 
                *ngIf="user.isAdmin"
                class="btn btn-success"
                (click)="addProduct()">add product</button>
            </div>
        </div>
        </mat-card-content>
    </mat-card>
</div>
<app-footer></app-footer>