<app-header></app-header>
<div class="container">
    <p class="pt-4"> This project is using amazon aws as a backend. All http requests are handled using Node <a href="https://docs.aws.amazon.com/lambda/latest/dg/welcome.html">lambda expressions</a> and <a href="https://aws.amazon.com/api-gateway/"> api gateway</a>.</p>
    <br>
    <p>The frontend is written in angular. For styling it uses <a href="https://getbootstrap.com/">bootstrap library</a>. The packages used in this project are: <a href="https://material.angular.io/">angular material</a> and <a href="https://rxjs.dev/">rxjs</a></p>

</div>
<app-footer></app-footer>